<ion-header class="header">
  <ion-toolbar color="success">
    <ion-title class="title">
      Silent Smart Switch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card *ngFor="let pin of pins">
      <ion-item>
        <ion-icon [name]="pin.icon"></ion-icon>
        <ion-input clear-input="true" [(ngModel)]="pin.name" [placeholder]="pin.placeholder"></ion-input>
        <ion-toggle (ionChange)="pinToggle(pin.id, $event.target.checked)"></ion-toggle>
        <ion-icon name="time"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
  
</ion-content>
